<p id="notice"><%= notice %></p>

<p>
  <strong>Wish list:</strong>
  <%= @valid_access.wish_list_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @valid_access.user_id %>
</p>

<%= link_to 'Back', valid_accesses_path %>
